@model SimpleApp.Models.Product
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link href="~/styles.css" rel="stylesheet" />
</head>
<body>
    <h2>Детали</h2>
    <table>
        <tr>
            <td>Id</td>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <td>Назва</td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td>Ціна</td>
            <td>@Model.Price</td>
        </tr>
        <tr>
            <td>Кількість</td>
               
                @if (Model.Quantity <= 0)
                {
                <td style="color:red;">немає в наявності</td>

            }
            else if (Model.Quantity > 0 && Model.Quantity <= 5)
            {
                <td style="color:yellow;">закінчується</td>
            }
            else
            {
                <td style="color:green;">в наявності</td>
            }
        </tr>

        <tr>
            <td>Опис</td>
            <td>@Model.Discription</td>
        </tr>
    </table>
</body>
</html>
