@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link href="~/styles.css" rel="stylesheet" />
</head>
<body>
    <h2>Урок 1</h2>
    <p><b><a href="/Products/list/">Список всіх Товарив</a></b></p>
    <p><b><a href="/Home/FileDov/">завантажіти файл з товарами</a></b></p>
</body>
</html>

